<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {% endblock %}</title>
        <link rel="icon" href="https://ik.imagekit.io/milyzn5unt/e-commerce-system/shopping-cart_g2lAzjYlj.svg" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename = 'styles/base.css')}}">
    <body>
        <div class = 'headerClass col-12'>   
            <h2>El Carto</h2>
            <a title= 'Logout' href="{{ url_for('logout')}}"><div class = 'logout'></div></a>
            <a title= 'Cart' href=""><div class = 'cart'></div></a> 
        </div>
        {% block body %} {% endblock %}
    </body>
</html>


{% block scripts %} {% endblock %}