<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'nprogress/nprogress.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'styles/base.css')}}"
    />
    <!-- <script src="https://kit.fontawesome.com/d591665a2d.js" crossorigin="anonymous"></script> -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    {% block head %} {% endblock %}

    <body>
      <div
        id="cart-tooltip"
        class="mdc-tooltip"
        role="tooltip"
        aria-hidden="true"
      >
        <div class="mdc-tooltip__surface">Cart</div>
      </div>
      <div
        id="profile-tooltip"
        class="mdc-tooltip"
        role="tooltip"
        aria-hidden="true"
      >
        <div class="mdc-tooltip__surface">Profile</div>
      </div>
      <div
        id="logout-tooltip"
        class="mdc-tooltip"
        role="tooltip"
        aria-hidden="true"
      >
        <div class="mdc-tooltip__surface">Logout</div>
      </div>
      {% if home %}
      <div
        id="drawer-tooltip"
        class="mdc-tooltip"
        role="tooltip"
        aria-hidden="true"
      >
        <div class="mdc-tooltip__surface">Filter</div>
      </div>
      {% endif %}
      <div id="header" class="headerClass">
        {% if home %}
        <div class="mdc-touch-target-wrapper">
          <button
            id="menu"
            aria-describedby="drawer-tooltip"
            class="material-icons mdc-icon-button material-icons-round"
          >
            sort
            <div class="mdc-icon-button__ripple"></div>
            <div class="mdc-icon-button__touch"></div>
          </button>
        </div>
        {% endif %}
        <h2>
          <a
            href="{{ url_for('home') if 'C' in session['userID'] else url_for('sellerHome') }}"
          >
            <img
              src="{{ url_for('static', filename='styles/logo.png') }}"
              id="headerLogo"
              alt=""
            />
          </a>
        </h2>
        <div id="searchfield">
          <select name="resizer" id="resizerSelect">
            <option id="resizerOption" value="width"></option>
          </select>
          <select name="searchCategory" id="category">
            <option value="0">All</option>
            <option value="1">Mobiles</option>
            <option value="2">Televisions</option>
            <option value="3">Laptops</option>
            <option value="4">Earphones</option>
            <option value="5">Cameras</option>
            <option value="6">Fridges</option>
            <option value="7">Washing Machines</option>
            <option value="8">Microwaves</option>
          </select>
          <input
            type="search"
            name="search"
            id="search"
            placeholder="Search Products"
          />
          <button id="search-icon" class="material-icons">search</button>
        </div>
        <div class="navButtons">
          <div class="mdc-touch-target-wrapper">
            <button
              class="
                search-icon-button
                mdc-icon-button
                navButton
                material-icons
                icon-button
                material-icons-round
                cart
              "
            >
              search
              <div class="mdc-icon-button__ripple"></div>
              <div class="mdc-icon-button__touch"></div>
            </button>
          </div>

          <div class="mdc-touch-target-wrapper">
            <a
              id="cart"
              aria-describedby="cart-tooltip"
              href="{{ url_for('cart')}}"
            >
              <button
                class="
                  mdc-icon-button
                  navButton
                  material-icons
                  icon-button
                  material-icons-round
                  cart
                "
              >
                shopping_cart
                <div class="mdc-icon-button__ripple"></div>
                <div class="mdc-icon-button__touch"></div>
              </button>
            </a>
          </div>
          <div class="dropDown">
            <a id="dropbtn" aria-describedby="profile-tooltip">
              <div class="mdc-touch-target-wrapper">
                <button
                  id="drop-btn"
                  class="
                    mdc-icon-button
                    navButton
                    material-icons material-icons-round
                    profile
                  "
                >
                  account_circle
                  <div class="mdc-icon-button__ripple"></div>
                  <div class="mdc-icon-button__touch"></div>
                </button>
              </div>
            </a>
            <div class="dropdown-content" id="drop-content">
              <a
                href="{{ url_for('profile') if 'C' in session['userID'] else url_for('sellerProfile') }}"
                >Hello, {{ firstname }}
                <hr />
                <span>Edit Profile</span>
              </a>
              <a href="#">My Orders</a>
            </div>
          </div>
          <div class="mdc-touch-target-wrapper">
            <a aria-describedby="logout-tooltip">
              <button
                class="
                  mdc-icon-button
                  navButton
                  material-icons material-icons-round
                  logout
                "
              >
                logout
                <div class="mdc-icon-button__ripple"></div>
                <div class="mdc-icon-button__touch"></div>
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="mdc-dialog">
        <div class="mdc-dialog__container">
          <div
            class="mdc-dialog__surface"
            role="alertdialog"
            aria-modal="true"
            aria-labelledby="my-dialog-title"
            aria-describedby="my-dialog-content"
          >
            <div class="mdc-dialog__content" id="my-dialog-content">
              Are you sure you want to logout?
            </div>
            <div class="mdc-dialog__actions">
              <button
                type="button"
                class="mdc-button mdc-dialog__button"
                data-mdc-dialog-action="cancel"
              >
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">Cancel</span>
              </button>
              <button
                type="button"
                class="mdc-button logout_button mdc-dialog__button"
                data-mdc-dialog-action="discard"
                data-mdc-dialog-button-default
              >
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">Logout</span>
              </button>
            </div>
          </div>
        </div>
        <div class="mdc-dialog__scrim"></div>
      </div>
      {% block body %} {% endblock %}
    </body>

    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="{{ url_for('static', filename='nprogress/nprogress.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/base.js') }}"></script>
    {% block scripts %} {% endblock %}

    <!-- </html> -->
  </head>
</html>
