{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='styles/customerHome.css')}}">
{% endblock %}
{% block body %} 
    <div class = 'category-filter'>
        <div>Refine By</div>
        <form id = 'filter' action="" method="post">
            By Category:<br>
            <label for="mobiles"><input type="checkbox" name="mobiles" id="mobiles" value="1">Mobiles</label><br>
            <label for="televisions"><input type="checkbox" name="televisions" id="televisions" value="2">Televisions</label><br>
            <label for="laptops"><input type="checkbox" name="laptops" id="laptops" value="3">Laptops</label><br>
            <label for="earphones"><input type="checkbox" name="earphones" id="earphones" value="4">Earphones</label><br>
            <label for="cameras"><input type="checkbox" name="cameras" id="cameras" value="5">Cameras</label><br>
            <label for="fridges"><input type="checkbox" name="fridges" id="fridges" value="6">Fridges</label><br>
            <label for="washing-machines"><input type="checkbox" name="washing-machines" id="washing-machines" value="7">Washing machines</label><br>
            <label for="microwaves"><input type="checkbox" name="microwaves" id="microwaves" value="8">Microwaves</label><br>
            <br>By Price:<br>
            <label for="price"><input type="radio" name="price" value="1" >Under &#x20B9;1000</label><br>
            <label for="price"><input type="radio" name="price" value="2">&#x20B9;1000 - &#x20B9;5000</label><br>
            <label for="price"><input type="radio" name="price" value="3">&#x20B9;5000 - &#x20B9;10000</label><br>
            <label for="price"><input type="radio" name="price" value="4">&#x20B9;10000 - &#x20B9;20000</label><br>
            <label for="price"><input type="radio" name="price" value="5">Over &#x20B9;20000</label><br>
            <input type="submit" value ='Apply Filter'>
            <button id ='reset'>Reset</button>
        </form>
    </div>
    <div class="main">
        <div class='grid-container'>
            {% for x in products: %}
            <div class='grid-item'>
                <img src="{{ x['img'] }}" alt="">
                <div>{{ x['prodName'] }}</div>
                <div><strong>&#x20B9; {{ x['minPrice'] }}.00</strong></div>
            </div>
            {% endfor %}
        </div>
        {% if filter == False: %}
            <div class="pageswitcher">
                {% for x in range(1, totalPages + 1) %}
                    {% if x != page: %}
                        <a href="{{url_for('home', page=x)}}"><button class='pageNo'>{{ x }}</button></a>
                    {% else %}
                        <a href="{{url_for('home', page=x)}}"><button class='pageNo' style="background-color: #fdb100; transform:scale(1.3,1.3)">{{ x }}</button></a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block scripts %} 
<script>
    document.getElementById('reset').addEventListener('click', function(event) {
        document.getElementById('filter').reset();
        return false;
    })
</script>
    
    
{% endblock %}