<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="icon" href="https://ik.imagekit.io/milyzn5unt/e-commerce-system/cart-2-512_iEf65WcBxP.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles/login.css')}}">
</head>
<body>
    <div class = 'headerClass col-12'>   
        <h2 align = 'center'>El Carto</h2>
    </div>
    <div class = 'mainClass' id = 'main' align = 'center'>
        <div align = 'center' class = 'switchHead'>
            <div class = 'col-6' id = 'login-btn' onclick="showForm('login')">Login</div>
            <div class = 'col-6' id = 'signup-btn' onclick="showForm('signup')">Signup</div>
        </div>
        <div class = 'formsClass' id= 'forms'>

            <div id ='signup' class = 'signupClass'>
                <br>
                <form name = 'signupform' action="/" id = 'signupform' method = 'POST'> 
                    <div>
                       <input class = 'inputClass' name = 'firstName' onfocus='hide()' value="" type = 'text' required>
                       <label for = 'firstName'>First Name</label>
                    </div>
                    <div>
                        <input class = 'inputClass' name = 'lastName' onfocus='hide()' value="" type = 'text' required>
                        <label for = 'lastName'>Last Name</label>
                    </div>
                    <div>   
                        <input class = 'inputClass' id= 'emailSign' name = 'email' onfocusout='checker1(this)' onfocus="checker2(this);hide()" value="" type = 'email' required>
                        <label for = 'email' id = 'emailSignLab'>Email</label>
                    </div>
                    <div>   
                        <input class = 'inputClass' type='password' onfocus='hide()' value="" name = 'pwd' required>
                        <label>Password</label>
                    </div>
                    <div>
                        <input class = 'inputClass' id = 'mob' type = 'tel' onfocusout='checker1(this)' onfocus="checker2(this);hide()" pattern = '[1-9][0-9]{9}' title= 'Mobile no must contain 10 digits' value="" name = 'pno' required>
                        <label for = 'mob_no' id = 'mobLab'>Mobile No.</label>
                    </div>
                    <input type = 'hidden' name = 'signup'>
                    <div id = 'error1' class = 'errMsg'>
                        Email id/ Mobile number already registered.<br>Please <a href=''onclick='showForm("login")'>Login</a> to continue.
                    </div>
                    <input class = 'submit' type = 'submit' value= 'Create an Account'><br>
        
                </form>
                
            </div>

            <div id = 'login' class = 'loginClass'>
                <br>
                <form name = 'loginform' action = "/" id = 'loginform' method="POST"> 
                    <div>
                        <input id = 'emailLog' class = 'inputClass' onfocusout='checker1(this)' onfocus="checker2(this); hide()" type = 'email' name = 'email' value='' required>
                        <label for = 'email' id = 'emailLogLab'>Email</label>
                    </div>
                    <div>
                        <input class = 'inputClass' id = 'passIn' onfocus='hide()' type='password' value="" name = 'pwd' required>
                        <label>Password</label>
                        <img id = 'eye' onclick="showPass()" src = 'https://ik.imagekit.io/milyzn5unt/e-commerce-system/showPassNormal_hI4WkY3i2z.svg'>
                    </div>    
                    
                    <div class = 'errMsg' id = 'error'>*Invalid email / password</div>
                    <input type = 'hidden' name = 'login'><br>
                    <input class = 'submit' type = 'submit' value = 'Login'><br>
                </form>
        
            </div>
            
        </div>
        
    </div>
</body>



<script> 
    function showForm(id) {
        if(id === 'login') {
            var curr = 'login';
            var other = 'signup';
            document.getElementById(other + '-btn').style.boxShadow = 'inset 10px -10px 5px 0px #888888';
            document.getElementById(curr + '-btn').style.boxShadow = 'none';
            document.getElementById('forms').style.transform = 'translateX(-50%)'
        }
        else {
            var curr = 'signup'
            var other = 'login'
            document.getElementById(other + '-btn').style.boxShadow = 'inset -10px -10px 5px 0px #888888'
            document.getElementById(curr + '-btn').style.boxShadow = 'none';
            document.getElementById('forms').style.transform = 'translateX(0%)'
        }
        // document.getElementById(curr).style.display = 'block';
        document.getElementById(curr + '-btn').style.backgroundColor = '#e1e6e2';
        document.getElementById(curr + '-btn').style.fontWeight = 'bold';
        document.getElementById(other + '-btn').style.backgroundColor = '#a4a6a6';
        // document.getElementById(other).style.display = 'none';
        document.getElementById(other + '-btn').style.fontWeight = 'normal';
        document.getElementById('error1').style.display = 'none';

    }

    function showPass() {
        var x = document.getElementById('passIn')
        var eye = document.getElementById('eye')
        if(x.type === 'password') {
            x.type = 'text';
            eye.src = "https://ik.imagekit.io/milyzn5unt/e-commerce-system/showPassSelected_Z472MnFZm.svg"
        }
        else {
            x.type = 'password';
            eye.src = "https://ik.imagekit.io/milyzn5unt/e-commerce-system/showPassNormal_hI4WkY3i2z.svg"
        }
    }
    
    function hide() {
        document.getElementById('error').style.display = 'none';
        document.getElementById('error1').style.display = 'none';
    }

    function checker1(x) {
       if(x.value != '' && !x.checkValidity()) {
            x.style.transform = 'scale(1.05,1.05)'
            x.style.border = '2px solid #d32710';
            var label = document.getElementById(x.id +'Lab')
            label.style.zIndex = 1;
            label.style.color = '#d32710';
            label.style.fontWeight = 'bold';
            label.style.top = '-18px';
       }
       else if(x.value == '') {
            x.style.transform = 'scale(1,1)'
            x.style.border = '2px solid #3f3f3f';
            var label = document.getElementById(x.id +'Lab')
            label.zIndex = '-1'
            label.style.color = '#999999';
            label.style.fontWeight = 'normal';
            label.style.top = '5px';
       }
       else if(x.value != '' && x.checkValidity()) {
            x.style.border = '2px solid #3f3f3f';
            var label = document.getElementById(x.id +'Lab')
            label.style.color = '#3f3f3f';
            label.style.transform = 'scale(1.05,1.05);'
       }
    }

    function checker2(x) {

        var label = document.getElementById(x.id +'Lab')
        // console.log(label.style.color)
        label.style.zIndex = 1;
        if(label.style.color != 'rgb(211, 39, 16)') {
            label.style.color = '#f2a305';
            label.style.fontWeight = 'bold';
            label.style.top = '-18px';
            x.style.border = '2px solid #f2a305'
        }
            
        
    }





</script>
{% if login_status == 'Already Exists' %}
    <script>
        showForm('signup')
        // document.getElementById('signup').style.display = 'none'
        document.getElementById('error1').style.display = 'block'
    </script>

{% elif login_status == False %}
    <script>
        window.onload = 'showForm("login")'
        document.getElementById('error').style.display = 'block';
    </script>

{% endif %}

</html>