<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="icon" href="{{url_for('static', filename = 'styles/cart-2-512.png')}}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles/style.css')}}">
<body>
    <div class = 'headerClass col-12'>   
        <div><h2 align = 'center'>El Carto</h2></div>
    </div>
    <div class = 'mainClass' id = 'main' align = 'center'>
        <div align = 'center' class = 'switchHead'>
            <div class = 'col-6' id = 'login-btn' onclick="showForm('login')"><strong>Login</strong></div>
            <div class = 'col-6' id = 'signup-btn' onclick="showForm('signup')"><strong>Signup</strong></div>
        </div>
        <div class = 'formsClass col-12' id= 'forms'>
            <div id = 'login' class = 'loginClass'>
                <br><br><br>
                <form name = 'loginform' action = "/" id = 'loginform' method="POST"> 
                    <label for = 'email'>Email</label><br><input id = 'emailIN' class = 'inputClass' placeholder = 'Email' type = 'email' name = 'email' required><br>
                    <label>Password</label><br><input class = 'inputClass' id = 'passIn' placeholder = 'Password' type='password' name = 'password' required><br>
                    <div class = 'showPassClass'>
                        <img id = 'eye' onclick="showPass()" src = '{{url_for('static', filename = 'styles/showPassNormal.svg')}}'><label>Show Password</label><br>
                    </div>
                    <div class = 'errMsg' id = 'error'>*User Not Found: Invalid email / password</div>
                    <input type = 'hidden' name = 'login'><br>
                    <button class = 'submit' type = 'submit'>Login</button><br>
                </form>
        
            </div>
            <div id ='signup' class = 'signupClass'>
                <br><br><br>
                <form name = 'signupform' action="/" id = 'signupform' method = 'POST'> 
                    <label for = 'name'>Name</label><br><input class = 'inputClass' placeholder = 'Name' name = 'name' type = 'text' required><br>
                    <label for = 'email'>Email</label><br><input class = 'inputClass' placeholder = 'Email' name = 'email' type = 'email' required><br>
                    <label>Password</label> <br><input class = 'inputClass' placeholder = 'Password' type='password' name = 'password' required><br>
                    <label for = 'mob_no'>Mobile No.</label><br><input class = 'inputClass' placeholder = 'Mobile No.' type = 'tel' pattern = '[1-9][0-9]{9}'name = 'mob_no' required><br>
                    <input type = 'hidden' name = 'signup'><br>
                    <button class = 'submit' type = 'submit'>Create an Account</button><br>
        
                </form>
        
            </div>

        </div>
        
    </div>
</body>



<script> 
    function showForm(id) {
        if(id === 'login') {
            var curr = 'login';
            var other = 'signup';
            // document.getElementById('forms').style.boxShadow = '10px 10px 8px #888888';
            // document.getElementById('main').style.boxShadow = 'none';
        }
        else {
            var curr = 'signup'
            var other = 'login'
            document.getElementById('forms').style.boxShadow = 'none';
            // document.getElementById('main').style.boxShadow = '10px 10px 8px #888888';
        }
        document.getElementById(curr).style.display = 'block';
        document.getElementById(curr + '-btn').style.backgroundColor = '#e1e6e2';
        document.getElementById(other + '-btn').style.backgroundColor = '#a4a6a6';
        document.getElementById(other).style.display = 'none';

    }

    function showPass() {
        var x = document.getElementById('passIn')
        var eye = document.getElementById('eye')
        if(x.type === 'password') {
            x.type = 'text';
            eye.src = "{{url_for('static', filename = 'styles/showPassSelected.svg')}}"
        }
        else {
            x.type = 'password';
            eye.src = "{{url_for('static', filename = 'styles/showPassNormal.svg')}}"
        }
    }
    
    document.getElementById('emailIN').addEventListener('focus', myFunction);
    document.getElementById('passIn').addEventListener('focus', myFunction);

    function myFunction() {
        document.getElementById('error').style.display = 'none';
    }



</script>
{% if login_status == True %}
    <script>
        alert('Logged in Successfully')
    </script>
{% elif login_status == False %}
    <script>
        document.getElementById('error').style.display = 'block';
    </script>
{% endif %}

</html>