{% extends "base.html" %} {% block title %} ProductDetail {% endblock %} {%
block head %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename = 'styles/prodPage.css')}}"
/>
{% endblock %} {% block body %}
<aside class="mdc-snackbar added-snackbar">
  <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
    <div class="mdc-snackbar__label" aria-atomic="false">
      Item Added to Cart
    </div>
    <div class="mdc-snackbar__actions" aria-atomic="true">
      <button
        type="button"
        class="
          material-icons
          mdc-icon-button
          mdc-snackbar__action
          material-icons-outlined
          mdc-snackbar__dismiss
        "
        title="Dismiss"
      >
        <div class="mdc-button__ripple"></div>
        close
      </button>
    </div>
  </div>
</aside>
<div class="grid-container"></div>
{% endblock %} {% block scripts %}
<script>
  const id = `{{ id }}`;
</script>
<script src="{{ url_for('static', filename='scripts/prodfetch.js') }}"></script>
{% endblock %}
