* {
  box-sizing: border-box;
}

:root {
    --mdc-theme-primary: #2d2d2d;
    --mdc-theme-secondary: #fdc100;
    --dark-yellow: #ffa400;
    --mdc-shape-small-component-radius: 4px;
    --mdc-shape-medium-component-radius: 4px;
    --mdc-shape-large-component-radius: 6px;
    --mdc-typography-font-family: unquote("Roboto, sans-serif");
    --mdc-theme-on-primary: #ffffff;
    --mdc-theme-on-secondary: #000000;
}

.headerClass {
    /* background-color: #3c5c83; */
    background-color: #2d2d2d;
    color:#fdc100;
    padding: 1px 0px;
    margin: 0;
    pointer-events: none;
    user-select: none;
}

.headerClass div {
    background-image: url(logo.png);
    background-size: 90%;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 70%;
    height: 65px;
    margin:0px auto;
}
body {
    font-family: 'Poppins', sans-serif;
    background-image: url(https://ik.imagekit.io/milyzn5unt/e-commerce-system/3_fQJe59KvGJ.jpeg);
    background-size: cover;
    background-position: left;
    overflow:hidden;
    margin: 0px;
}

.switcHead {
    width:80%;
}

.formsClass {
    background-color: #e1e6e2;
    border-radius: 18px;
    width: 200%;
    -webkit-transition:all 0.1s ease-in-out;
    -moz-transition:all 0.1s ease-in-out;
    -o-transition:all 0.1s ease-in-out;
    transition:all 0.1s ease-in-out;
    transform: translateX(-50%);
}

.mainClass {
    display: block;
    position: relative;
    float: right;
    width: 100%;
    overflow:hidden;
    height: 100%;
    background-color: #e1e6e2;
}

.content {
    width: 25%;
    float: right; 
    box-shadow: -2px 0px 7px -1px rgba(63,63,63,1);
}

#login-btn {
    background-color:#e1e6e2;;
    float:left;
    width: 50%;
    font-weight: bold;
}

#signup-btn {
    background-color: #a4a6a6;
    float: right;
    width: 50%;
    box-shadow: inset 10px -10px 5px 0px#888888;
}

#login-btn, #signup-btn {
    transition: 0.3s;
    padding:10px 0px;
    user-select: none;
}
#login-btn, #signup-btn:hover {
    cursor: pointer;
    user-select: none;
}

.signupClass, .loginClass {
    padding:30px 10px;
    width:50%;
    float: left;
    margin:auto;
    box-sizing: border-box;
    border-radius: 18px;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

.signupClass {
    padding: 0px 10px;
}
.inputContain {
    position: relative;
    z-index: 1;
    margin: 10px;
    font-size: 12px;
    width: 90%;
}

.moveLabel {
    position: absolute;
    z-index: -1;
    top:5px;
    left:15px;
    font-size: 15px;
    margin:5px;
    padding:1px 2px;
    float:left;
    color: #999999;
    transition: all ease 0.1s;
    background-color: #e1e6e2;
    pointer-events: none;
}

.radioDiv {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
}


#orgName {
    display: none;
}

#eye {
    position: absolute;
    z-index: 1;
    width:15px;
    top:14px;
    right: 21px;
    user-select: none;
    cursor: pointer;
    -webkit-user-drag: none;
    transition: all ease 0.1s;
}

.inputClass  {
    padding:12px;
    margin-bottom: 10px;
    border: 2px solid #3f3f3f;
    border-radius: 24px;
    width:95%;
    background-color:transparent;
    outline:none;
    /* font-family: 'Poppins', sans-serif; */
    font-size: 12.5px;
    transition: all ease 0.1s;
}


.inputClass:focus ~ label,.inputClass:valid ~ label {
    top: -15px;
    z-index: 1;
    color: #f2a305;
    font-weight: bold;
    font-size: 14px;
}
.inputClass:not(:focus):valid ~ label {
    top: -15px;
    z-index: 1;
    color: #3f3f3f;
    font-weight: bold;
    font-size: 14px;
}

.inputClass:focus, .inputClass:valid {
    border-radius: 24px;
    border: 2px solid #f2a305;
    transform: scale(1.03, 1.03);
}

.inputClass:not(:focus):valid {
    border-radius: 24px;
    border: 2px solid #3f3f3f;
    transform: scale(1.03, 1.03);
    color: #3f3f3f;
}

.inputClass:focus ~ #eye {
    position: absolute;
    z-index: 1;
    width:15px;
    top:14px;
    right: 17px;
}


.submit {
    font-family: 'Poppins', sans-serif;
    padding:10px;
    margin:10px;
    cursor:pointer;
    border:1px transparent;
    outline:none;
    border-radius: 20px;
    background-color:#3c5c83;
    color:white;
    width:90%;
    background-color: #2d2d2d;
    transition: 0.5s;
    box-shadow: 0px 0px 1px 1px #888888;

}
.submit:hover {
    background-color:#131921;
    transform: scale(1.05,1.05);
}

.errMsg {
    color: #d32710;
    float: none;
    font-size: small;   
    font-weight: bold;
    padding: 2px 10px;
    margin: 3px 10px;
    display: none;
}

#error1 a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #2d2d2d;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media screen and (max-width: 1000px) {
    .mainClass{
        width: 100%;
        height: 100vh;
    }
    .content {
        width: 35%;
    }

}
@media screen and (max-width: 800px) {
    .content {
        width: 45%;
    }

}


@media screen and (max-width: 600px) {
    .mainClass{
        height: 100vh;
    }
    .content {
        width: auto;
        margin: auto;
        float: none;
    }
    
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px #e1e1e2 inset !important;
    -webkit-box-shadow: 0 0 0 30px #e1e1e2 inset !important;
}

