body {
  background-color: #e1e6e2;
}
.cart {
  display: none;
}

.search-icon-button {
  display: none !important;
}

#searchfield {
  display: none;
}

#main {
  background-color: #efefef;
  width: 50%;
  height: auto;
  margin: 15px auto;
  padding: 10px;
  border-radius: var(--mdc-shape-large-component-radius);
  /* box-shadow: 0px 0px 11px 1px rgba(136, 136, 136, 1); */
}
h1 {
  text-align: left;
  margin: 0px 20px;
  display: inline;
}
.inputl {
  display: inline-block;
  width: 45%;
  font-family: "Roboto", sans-serif;
}
#Card.inputr {
  font-family: "Roboto", sans-serif;
  float: right;
  width: 45%;
  height: 150px !important;
}
.inputr {
  font-family: "Roboto", sans-serif;
  float: right;
  width: 45%;
}
.input2b {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  background-color: #efefef;
  height: 35px;
  width: 100%;
  font-size: 15px;
  display: inline-block;
  margin-right: 5%;
  border-radius: var(--mdc-shape-small-component-radius);
  border: 1px solid #3f3f3f;
  padding: 10px;
  transition: all 0.3s ease;
}
#cvv {
  background-color: #efefef;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border-radius: var(--mdc-shape-small-component-radius);
  border: 1px solid #3f3f3f;
  padding: 10px;
  width: 12%;
  height: 35px;
  margin-left: 8%;
  outline: none;
  transition: all 0.3s ease;
}
.input2b:read-only,
.input2a:read-only,
#cvv:read-only {
  opacity: 0.5;
}
.input2a:focus,
.input2b:focus {
  border: 2px solid #fdc100;
  border-radius: 10px;
  outline: none;
  transform: scale(1.05, 1.15);
}
.input2a {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  background-color: #efefef;
  border: 1px solid #3f3f3f;
  border-radius: var(--mdc-shape-small-component-radius);
  height: 35px;
  width: 100%;
  font-size: 15px;
  display: inline-block;
  padding: 10px;
  transition: all 0.3s ease;
}

#button {
  margin: 25px;
}

.mdc-button--raised:not(:disabled) {
  background-color: var(--dark-yellow);
  color: var(--mdc-theme-on-secondary);
}

.submitButtonContainer {
  display: flex;
  justify-content: center;
}
/* #button:hover {
  transform: scale(1.05);
} */

#logo {
  font-size: 30px !important;
  color: #3f3f3f !important;
}
#eye {
  position: relative;
  z-index: 1;
  width: 15px;
  top: -23px;
  right: 9px;
  user-select: none;
  cursor: pointer;
  float: right;
}
#addpay {
  text-align: center;
  font-size: 19px;
  position: absolute;
  right: 0;
  top: -15px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 24px;
  border-radius: 24px;
  padding-left: 10px;
}

.close {
  text-align: center;
  font-size: 17px;
  float: right;
  margin: 2px 4px;
  outline: none;
  cursor: pointer;
  color: var(--mdc-red);
}

#error1,
#error2 {
  font-size: 12px;
  color: var(--mdc-red);
}

#forms {
  padding: 2%;
  width: 95%;
  margin: auto;
}

.dropdown-content1 {
  display: none;
  z-index: 2;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 2px;
}

.dropdown-content1[open] {
  display: flex;
  animation: dropdownSwipeLeft 0.1s normal;
  animation-fill-mode: forwards;
}

.dropdown-content1[close="true"] {
  animation: dropdownSwipeRight 0.1s normal;
  animation-fill-mode: forwards;
}

.dropdown-content1 a {
  float: none;
  color: #eceff2;
  padding: 4px 5px 0px;
  display: block;
  text-align: center;
  width: 45px;
  height: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.cardClass {
  font-size: 26px;
  color: #3f3f3f !important;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.upiCLass {
  background-image: url(https://www.vectorlogo.zone/logos/upi/upi-ar21.svg);
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}

.marginTop {
  margin-top: 10px;
}

.errMsg,
.errMsg2 {
  color: var(--mdc-red);
  float: none;
  font-size: small;
  font-weight: bold;
  display: none;
}

#dropbtn:hover div {
  transform: scale(1);
}

.subHeading {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.subHeading h2 {
  margin: 0;
}

@media screen and (max-width: 800px) {
  #main {
    width: 75%;
  }
}
@media screen and (max-width: 600px) {
  #main {
    width: 95%;
  }
}

#dropbtn1[close] {
  animation: turnOff 0.1s normal;
  animation-fill-mode: forwards;
}

#dropbtn1[open] {
  animation: turnOpen 0.1s normal;
  animation-fill-mode: forwards;
}

@keyframes turnOpen {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes turnOff {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes dropdownSwipeLeft {
  0% {
    transform: translateX(10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes dropdownSwipeRight {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
}
