#cart {
    display:none !important;
}
.Main{
    background-color: #e1e2e6;
    display: flex;
    width: 100%;
    height : 100%
}

 .RightContainer{
     width: 80%;
 }
 .Statistics{
          border: 2px solid #fdc100;
          background-color:#e1e6e2;
          float: left;
          width: 20%;
          height: 98.5%;
          align-items: center;
          text-align: center;
          margin:10px;
          border-radius: 5px;
         
}  
.StockDetails{
    border: 2px solid #e1e6e2;
    background-color: #fdc100;
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    float: left;
    width: 98.5%;
    height: 44.5%;
    align-items: center;
    text-align: center;
    margin:10px;
    border-radius: 5px;
    
}  



.grid-item {
    border: 2px solid #fdc100;
    height: fit-content;
    align-items: center;
    text-align: center;
    margin:10px;
    border-radius: 5px;
    transition: all 0.4s;
}

.grid-item img {
    width: auto;
    display: block;
    height: 100px;
    margin: 10px auto 10px auto;
}

.grid-item div {
    overflow: hidden;
    height: 25px;
    font-size: 15px;
    margin: 2px;
}
.AddProducts{
    border: 2px solid #e1e6e2;
    background-color: #fdc100;
    float: left;
    width: 98.5%;
    height: 44.5%;
    align-items: center;
    text-align: center;
    margin:10px;
    border-radius: 5px;
    
} 
