.headerClass {
    /* background-color: #3c5c83; */
    background-color: #2d2d2d;
    color:#fdf909;
    padding: 1px 0px;
    /* margin-bottom: 10px; */
}
body {
    font-family: 'Poppins', sans-serif;
    background-image: url(3.jpeg);
    background-size: contain;
    margin: 0px;
}

.switcHead {
    width:80%;
}

.formsClass {
    background-color: #e1e6e2;
    /* box-shadow: 10px 10px 8px #888888; */
    border-radius: 18px;
    width: 80%;
}

.mainClass {
    display: block;
    position: relative;
    float: right;
    width: 25%;
    height: 100%;
    background-color: #e1e6e2;
    /* margin: 10px; */
    /* padding: 10px; */
    /* border-radius: 18px; */
    /* box-shadow: 10px 10px 8px #888888; */
}

#login-btn {
    background-color:#e1e6e2;;
    float:left;
    /* border-top-left-radius: 18px; */
    width: 50%;
}

#signup-btn {
    background-color: #a4a6a6;
    float: right;
    /* border-top-right-radius: 18px; */
    width: 50%;
}

#login-btn, #signup-btn {
    padding:15px 0px 15px;
}
#login-btn, #signup-btn:hover {
    cursor: pointer;
}

.loginClass {
    display: block;
}
.signupClass {
    display: none;
}

.signupClass,.loginClass {
    padding:10px;
    width:80%;
    margin:auto;
    box-sizing: border-box;
    border-radius: 18px;
}

label {
    margin:5px;
    padding:2px;
    float:left;
}
.inputClass  {
    padding:10px;
    /* margin:5px; */
    border:1px solid grey;
    border-radius: 18px;
    width:95%;
    background-color:ivory;
    outline:none;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
}
.inputClass:focus {
    border-radius: 18px;
    /* border:2px solid #3c5c83; */
    border: 2px solid #2d2d2d;
    transform: scale(1.05, 1.05);
}
.showPassClass {
    padding:2px;
    font-size: small;
    text-align: left;
    width: 95%;
}
.showPassClass img {
    width: 8%;
    /* padding:10px 0px 10px;*/
    float: left;

}
.showPassClass label {
    float: none;
    padding:10px 0px 10px;
}

.submit {
    font-family: 'Poppins', sans-serif;
    padding:10px;
    margin:10px;
    cursor:pointer;
    border:1px transparent;
    outline:none;
    border-radius: 18px;
    background-color:#3c5c83;
    color:white;
    float:center;
    width:90%;
    background-color: #2d2d2d;
    transition: 0.3s;
}
.submit:hover {
    background-color:#131921;
    transform: scale(1.05,1.05);

}

.errMsg {
    color: red;
    float: right;
    font-size: small;
    display: none;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media screen and (max-width: 600px) {
    .mainClass{
        float: none;
        width: auto;
        height: 100vh;
    }
}