.headerClass {
    background-image: url('https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg');
    padding: 1px;
    padding-bottom: 0px;
    color:#ffcc00;
}
body {
    font-family: 'Montserrat', sans-serif;

}

.navBar ul{
    text-decoration: none;
    background-color:#262626;
    padding:10px 0px 10px;
}
.navitem {
    display:inline;
    padding: 10px 0px 10px;
}
#about {
    float:right;
    padding:0px;
}
.navitem a:hover {
    background-color:purple;
    padding:10px;
}

.navBar a {
    color: white;
    text-decoration: none;
    padding: 5px;
    cursor: pointer;
}

.switcHead {
    width:100%;
}

.formsClass {
    background-color: #e1e6e2;
    box-shadow: 10px 10px 8px #888888;
}

.mainClass {
    display: grid;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 10px 10px 8px #888888;
}

#login-btn {
    background-color:#e1e6e2;;
    float:left;
}

#signup-btn {
    background-color: #a4a6a6;
    float: right;

}

#login-btn, #signup-btn {
    padding:15px 0px 15px;
}
#login-btn, #signup-btn:hover {
    cursor: pointer;
}

.loginClass {
    display: block;
}
.signupClass {
    display: none;
}

.signupClass,.loginClass {
    padding:10px;
    width:100%;
    margin:auto;
    box-sizing: border-box;
}

label {
    margin:5px;
    padding:2px;
    float:left;
}
.inputClass  {
    padding:10px;
    margin:5px;
    border:1px solid grey;
    border-radius: 3px;
    width:95%;
    background-color:ivory;
}
.inputClass:focus {
    border-radius: 5px;
    border:1px solid black;
}
.showPassClass {
    padding:2px;
    font-size: small;
    text-align: left;
    width: 95%;
}
.showPassClass input {
    width: 5%;
    padding:10px 0px 10px;            
    float: left;

}
.showPassClass label {
    float: none;
    padding:10px 0px 10px;
}

.submit {
    padding:10px;
    margin:10px;
    cursor:pointer;
    border:1px transparent;
    border-radius: 3px;
    background-color:forestgreen;
    color:white;
    float:center;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media screen and (max-width: 600px) {
    .mainClass {
        width:75%;
    }
}